body {
  margin: 0;
  background-color: rgb(211, 211, 211);
}

.pageHeading {
  text-align: center;
}

header {
  background-color: #2e2e2e !important;
}

.typography {
  padding: 10px;
}

.bottomNavbar {
  background-color: #2e2e2e !important;
}

.mainContainer {
  display: flex;
  width: 50%;
  height: 90vh;
  justify-content: center;
  align-content: center;

  margin: auto;
  padding-top: 1.5rem;

  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70%;
}

.rankings {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 60vh;
  width: 450px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.rankingSection {
  text-align: center;
}

.btnGroupContainer {
  padding-top: 3%;
}

@media screen and (max-width: 950px) {
  .mainContainer {
    width: 50%;
  }

  .rankings {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .mainContainer {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  .mainContainer {
    width: 100%;
  }
}
