body {
  margin: 0;
}

header {
  background-color: #2e2e2e !important;
}

.bottomNavbar {
  background-color: #2e2e2e !important;
}

.container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70%;
}

.btnGroupContainer {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.full-page {
  display: flex;
  height: calc(100vh - 6em);
  background-color: #fbeddd;
  justify-content: center;
}

.centered-section {
  min-width: 30em;
  max-width: 31em; 
}

@media screen and (max-width: 700px) {
  .pageHeading {
    text-align: center;
  }

  .container {
    width: 100%;
  }
}
